@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', monospace;
}

:root{
    --green-hospital: #47cfac;
}

a{
    text-decoration: none;
}

body{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}

header{
    display: grid;
    grid-template-rows: auto 1fr;
}

nav{
    display: flex;
    height: 50px;
    background-color: var(--green-hospital);
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.nav__item{
    display: block;
    height: auto;
}

.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
}

.header__about-me{
    font: bold 1.4rem;
    color: black;
    text-decoration: none;
}

.logo-small{
    width: 20%;
    min-width: 200px;
}

.logo-small__img{
    width: 100%;
}

.home-main{
    display: grid;
    place-items: center;
    height: 100%;
    background: url("../../assets/img/Cover.png") no-repeat center;
    background-size: cover;
}

.home-main__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.home-main__title{
    font-size: 2.6rem;
    text-align: justify;
    color: white;
    margin-bottom: 80px;
}

.home-main__button{
    width: 100px;
    height: 50px;
    background-color: var(--green-hospital);
    font-weight: 800;
    border: 1px solid white;
    cursor: pointer;
}